{% extends 'index.html' %}

{% block body %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Halaman Tentang Admin</h1>
    
    </div>
        <div id="Loader">
        <div class="spinner-border text-primary m-5" style="width: 10rem; height: 10rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        </div>

            <main class="container">
                <div class="bg-light p-5 rounded ">
                  <h1>Welcome</h1>
                  <p class="lead"> Hallo, Selamat Datang </p>
                  <div class="row row-cols-1 row-cols-md-3 g-4">

                    <div class="col">
                      <div class="card h-100">
                         <!-- <img src="/Aku.jpg" class="card-img-top"> !-->
                        <div class="card-body">
                          <h5 class="card-title">Biodata</h5>
                          <p class="card-text">Perkenalkan nama saya Mohammad Prayoga Pangestu, Nim 19090034 dari kelas 5C disini saya akan
                              Mempresentasikan sebuah web framework dari flask untuk memenuhi nilai Mata Kuliah Framework Programming.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <div class="card-body">
                          <h5 class="card-title">Pendidikan</h5>
                          <p class="card-text">Pendidikan Saya Sekarang adalah Mahasiswa Semester 5 prodi DIV Teknik 
                              Informatika di Politeknik Harapan Bersama 
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100">
                        <div class="card-body">
                          <h5 class="card-title">Hobi</h5>
                          <p class="card-text">Untuk Hobi saya suka dengan berkegiatan kesenian, baik itu seni rupa ataupun
                              seni non rupa, bagi saya seni memiliki nilai estetik yang begitu dalam</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Asal Sekolah</h5>
                            <p class="card-text">Saya lulus sekolah SMK pada tahun 2019 si SMKN 2 Adiwerna , setelah lulus 
                                saya mendaftarkan diri di Politeknik Harapan Bersama </p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Alamat</h5>
                            <p class="card-text">Untuk alamat saya tinggal di Jl Kleben desa Gembong kulon rt04/rw02, 
                                kecamatan Talang Kabupaten Tegal </p>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card h-100">
                          <div class="card-body">
                            <h5 class="card-title">Contact Person</h5>
                            <p class="card-text">Email  : yogapangestu174@gmail.com </p>
                            <p class="card-text">WA     : 082326401276 </p>
                            <p class="card-text">Telp   : 08562625185 </p>
                          </div>
                        </div>
                      </div>   
                </div>
                </div>
            </main>

{% endblock %}